/* app global css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';
@custom-variant dark (.dark &);

@theme {
  --font-family-sans: 'Quicksand', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}
.min-h-auto .q-item {
  min-height: auto;
}
button {
  cursor: pointer;
}
